@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #303030;
    color: white;
}

#header {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    gap: 10px;
    justify-content: center;
}

#status-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round-status {
    display: none;
}


#config-bar {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-top: 1em;
}

#round-info {
    display: flex;
    margin-top: 4em;
    justify-content: center;

}

#round-scores {
    background-color: rgb(60, 60, 60);
    padding: 2em;
    border-color: rgb(100, 100, 100);
    border-width: 2px;
    border-style: solid;
    display: none;

}


.boardItem {
    background-color: slategrey;
    border-radius: 0.5em;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

/* for flashing the winning items */
.flashColor {
    color: red;
}

