@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #303030;
    color: white;
}

#header {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    gap: 10px;
    justify-content: center;
}

#status-text {
    text-align: center;
}

#config-bar {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-top: 1em;
}

.boardItem {
    background-color: slategrey;
    border-radius: 0.5em;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
